/* ========Common styles =========*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ========/Common styles =========*/

/* =======Page Header styles ======= */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.logo-studio {
  color: #2e2f42;
}

.nav-menu,
.address {
  display: none;
}

.nav-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .address {
    display: block;
    gap: 40px;
    font-style: normal;
    margin-left: auto;
  }

  .nav-menu-btn {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }

  .menu-item-cont {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item-cont::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .addres-data {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:hover,
  :focus {
    color: #404bbf;
  }

  .addres-data:hover,
  :focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-style: normal;
    margin-left: auto;
  }

  .address .address-list {
    display: flex;
  }

  .adress-list-item {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .addres-data {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
  }
}
/* =======/Page Header styles ======= */

/* =======section button =======*/

.section-studio {
  background: #2e2f42;
  text-align: center;
  padding: 72px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/Dark-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
}

.section-studio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.section-studio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-studio-button:hover,
.section-studio-button:focus {
  background: #404bbf;
}

@media only screen and (min-resolution: 192dpi) {
  .section-studio {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/Dark-bg@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section-studio {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/Dark-bg.jpg);
  }
  .section-studio-title {
    max-width: 496px;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-studio {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/Dark-bg@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-studio {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office.jpg);
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .section-studio {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office@2x.jpg);
  }
}

/* =======/section button=======*/
/* ======section benefits===== */
.section-benefits {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-icon {
  display: none;
}

.benefits-list .item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.benefits-list .item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 16px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-list .item {
    width: calc((100% - 72px) / 2);
  }
  .benefits-list .item-title {
    text-align: left;
    padding-left: 16px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .benefits-list .item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-list .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
  }
  .benefits-list .item-text {
    font-weight: 400;
    font-size: 16px;
  }
}

/* =====/section benefits===== */
/* =====section team ==== */
.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.section-team-list {
  gap: 28px;
}
.team-img {
  margin: 0 auto;
}
.name-job {
  padding: 32px 0;
}

.section-team-list-item {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding: 0 auto;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list-jobtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-net-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-net-item {
  width: 40px;
  height: 40px;
}

.social-net-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-net-link:hover,
.social-net-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    margin-left: auto;
    margin-right: auto;
  }
  .section-team-list-item {
    width: calc((100% - 206px) / 2);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .section-team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/* ======/section-team===== */

/* ======section-portfilio"===== */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-list .item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-list .item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-list .item:hover .photo-text {
  transform: translateY(0%);
}

.name-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.photo {
  position: relative;
  overflow: hidden;
}

.section-portfolio-list:hover {
  transform: translateY(0%);
}
.photo-text {
  position: absolute;
  top: 0;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    margin-left: auto;
    margin-right: auto;
  }
  .section-portfolio-list .item {
    width: calc((100% - 206px) / 2);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio-list .item {
    width: calc((100% - 48px) / 3);
  }
}

/* ======/section-portfilio"===== */

/* ======page-footer==== */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.logo-paragraf {
  margin-right: 120px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-bottom: 72px;
}

.footer-social {
  /* display: flex;
  align-items: baseline; */
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: #f4f4fd;
}
.subscribe {
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.social-link:hover,
:focus {
  background-color: #31d0aa;
}
/* ====== form ====== */
.form-paragraf {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.myform {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
}
.myform-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

  margin-left: auto;
  margin-right: auto;
}
.myform-input::placeholder {
  color: #ffffff;
}
.myform-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}

.myform-button-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    display: flex;
    flex-wrap: wrap;
  }
  .subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-social {
    display: flex;
    align-items: baseline;
  }
}
/* ======/page-footer==== */
/* =========box=========== */
.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.box-button-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-button-close:hover,
:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.box-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-form-cont {
  margin-bottom: 8px;
}
.box-window {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-form {
  padding: 72px 24px 24px 24px;
}
.box-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.box-button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.box-button-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.labelbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.div-input {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.input {
  color: #000000;
}
.input:focus {
  border-color: #4d5ae5;
}
.input:focus-within + .box-button-icon {
  fill: #4d5ae5;
}

.input-text {
  margin-bottom: 16px;
}

.comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

#user-privacy:checked + .label-privacy .label-privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.polycy {
  color: #4d5ae5;
  text-decoration: underline;
}
.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .box-form {
    width: 408px;
    min-height: 584px;
  }
  .box-window {
    width: 408px;
    min-height: 584px;
  }
}
/* =========/box=========== */
